# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project specific edits

# Specific Folders
udt/*
*.makepp

# Trace files
trace*

# Protobuf compiled files
*.pb.*

# Temporaries
tmp*
*~

# Compiled Python
*.pyc

# Executables
sender
receiver
prober